@charset "utf-8";

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Victor Akanbi
   Date:   9.12.18
   
   Filename: lake_styles.css

*/

html {
    background-color: rgb(153, 44, 1);
}

body {
    background-color: rgb(228, 210, 210);
}

header>nav a {
    background-color: darkslateblue;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
}

header>nav a:visited,
header>nav a:link {
    color: rgb(202, 169, 22);
}

header>nav a:active,
header>nav a:hover {
    background-color: grey;
}

section#rightcol h2 {
    background-color: grey;
    text-align: center;
    font-family: Champagne;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section#rightcol {
    background-color: bisque;
    padding-bottom: 6em;
}

section#rightcol ul a {
    text-decoration: none;
}

section#rightcol ul li {
    text-align: center;
    padding-right: 2em;
}

section#rightcol ul {
    list-style-type: none;
}

section#rightcol ul a:link,
section#rightcol ul a:visited {
    color: brown;
}

section#rightcol ul a:active,
section#rightcol ul a:hover {
    color: dimgrey;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    color: brown;
    font-size: 15px;
    line-height: 17px;
    padding: 30px 20px 30px 20px;
    background-color: grey;
    margin-top: 5em;
}

footer {
    text-align: center;
    background-color: grey;
}

section>h1 {
    font-family: Champagne;
    font-size: 55px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    font-size: 17.5px;
    text-indent: 20px;
}